article {
  background: linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

body {
  background-image: url(background6.jpg);
  background-size: cover;
  background-position: center;
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: left;
}


.align-center-parent {
  display: table; 
  height: 100vh; 
  width: 70vw;
  overflow: hidden;
  text-align: right;
  
}
.align-center-child {
  display: table-cell; 
  vertical-align: 100vh;
  padding-right: 0;
   text-align: left;
}

h1.big {
  background: linear-gradient(
    to right, 
    hsl(200 100% 52%), /* 200 100% 62% */
    hsl(360 100% 49%)  /* 360 100% 59% */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: helvetica, sans-serif;
  line-height: 0.7;
  font-size: 10vw;
   text-align: left;
}
p.first {
  width: 25vw;
   line-height: 0.9;
  background: linear-gradient(
    to left, 
    hsl(230 40% 49%), /* 200 100% 62% */
    hsl(300 0% 52%)  /* 360 100% 59% */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: helvetica, sans-serif;
  position: right;
  font-size: 3vw;
  text-align: left;
}
p.second {
  width: 19vw;
   background: linear-gradient(
    to top, 
    hsl(290 40% 49%), /* 200 100% 62% */
    hsl(400 0% 52%)  /* 360 100% 59% */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: helvetica, sans-serif;
  position: center;
  font-size: 1.5vw;
}

p.third {
  width: 15vw;
  background: linear-gradient(
    to top, 
    hsl(200 40% 67%), /* 200 100% 62% */
    hsl(360 100% 69%)  /* 360 100% 59% */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: helvetica, sans-serif;
  position: left;
  font-size: 1.3vw;
   text-align: left;
}
img {
  width: 7.5vw; 
  max-height: 100%; 
 }

img.first {
  width: 20.5vw; 
  max-height: 100%; 
 }
